*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Inter';
    color: #F7EFFB;
    font-size: 16px;
}

body {
    background: linear-gradient(rgba(13, 3, 18, 0.6), rgba(13, 3, 18, 0.6)), url("resources/images/background.png") no-repeat center center fixed rgba(13, 3, 18, 0.6);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

@font-face {
    font-family: 'Nico-Moji';
    src:url('resources/fonts/nico-moji/nico-moji.ttf.woff') format('woff'),
        url('resources/fonts/nico-moji/nico-moji.ttf.svg#Nico-Moji') format('svg'),
        url('resources/fonts/nico-moji/nico-moji.ttf.eot'),
        url('resources/fonts/nico-moji/nico-moji.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

.main-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-landing-section {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .top-landing-section {
        height: 85vh;
    }

    header {
        margin-bottom: 40px;
    }
}

.landing-title {
    font-family: 'Nico-Moji';
    font-size: 48px;
    color: #F7EFFB;
    margin: 0 0 0 40px;
    display: block;
    font-weight: 400;
}

.h1-big-span {
    font-family: 'Nico-Moji';
    font-size: 48px;
    color: #F7EFFB;
    margin-left: 40px;
    display: inline-block;
}

.h1-smaller {
    font-family: 'Inter';
    font-size: 28px;
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 40px;
}

@media screen and (max-width: 1160px) {
    .landing-title, .h1-big-span {
        font-size: 32px;
    }

    .h1-smaller {
        font-size: 18px;
    }
}

.landing-h2 {
    font-family: 'Nico-Moji';
    font-size: 24px;
    color: #F7EFFB;
    text-align: center;
    margin-top: 100px;
    font-weight: 400;
}

.landing-p {
    color: #F7EFFB;
    text-align: center;
}

.bold-orange-span {
    font-weight: 600;
    color: #F7A100;
}

.landing-header-CTAs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-left: 40px;
}

@media screen and (max-width: 610px) {
    .landing-header-CTAs {
        flex-direction: column;
        margin: 0;
    }
}

.landing-header-content {
    position: absolute;
    left: 0;
    bottom: -16px;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    /* padding-left: 40px; */
    width: 100%;
    background: linear-gradient(0deg,rgba(37, 12, 49, 1) 63%, rgba(37, 12, 49, 0) 100%);
}

/* ----------- CTAs ----------- */

.landing-header-cta, .decorated-cta {
    display: inline-grid !important;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    align-items: center;
    justify-items: center;
    grid-gap: 0px;
}

.main-cta {
    font-family: 'Nico-Moji';
    font-size: 24px;
    color: #F7EFFB;
    background-color: #74288F;
    border: none;
    border-radius: 10px;
    padding: 10px 16px;
    text-decoration: none;
    white-space: nowrap;
}

.main-cta:hover {
    box-shadow: 0px 0px 20px #F7A100;
}

.main-cta:active {
    background-color: #F7A100;
    color: #FF3700;
}

.secondary-cta {
    font-family: 'Nico-Moji';
    font-size: 24px;
    color: #F7EFFB;
    background-color: transparent;
    border: solid 2px #F7EFFB;
    border-radius: 10px;
    padding: 10px 16px;
    text-decoration: none;
}

.secondary-cta:hover {
    color: #D2A0E4;
    border-color: #D2A0E4;
}

.secondary-cta:active {
    background-color: #D2A0E4;
    color: #0D0312;
    border-color: #D2A0E4;
}

.decorated-cta {
    box-sizing: content-box;
}

.trio-decorated-cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6px;
    z-index: 3;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.deco-btn-A, .thin-deco-cta {
    width: 30px;
    height: 48px;
    background: no-repeat center center;
}

.deco-btn-B, .large-deco-cta { 
    width: 52px;
    height: 30px;
    background: no-repeat center center;
}

.deco-reversed {
    transform: rotate(180deg);
}

.deco-btn-1 {
    grid-column: 1 / 4;
    grid-row: 1;
    background-image: url(resources/images/decos-ctas/btn-deco-b.svg);
}

.deco-btn-2 {
    background-image: url(resources/images/decos-ctas/btn-deco-a.svg);
}

.deco-btn-3 {
    background-image: url(resources/images/decos-ctas/btn-deco-a.svg);
}

.deco-btn-4 {
    grid-column: 1 / 4;
    grid-row: 3;
    background-image: url(resources/images/decos-ctas/btn-deco-b.svg);
}

.deco-btn-5 {
    background-image: url(resources/images/decos-ctas/btn-deco-d.svg);
    grid-column: 1 / 4;
    grid-row: 1;
}

.deco-btn-6 {
    background-image: url(resources/images/decos-ctas/btn-deco-c.svg);
}

.deco-btn-7 {
    background-image: url(resources/images/decos-ctas/btn-deco-c.svg);
}

.deco-btn-8 {
    background-image: url(resources/images/decos-ctas/btn-deco-d.svg);
    grid-column: 1 / 4;
    grid-row: 3;
}

.deco-btn-9, .deco-btn-10 {
    background-image: url(resources/images/decos-ctas/btn-deco-e.svg);
}

.deco-btn-11 {
    grid-column: 1 / 4;
    grid-row: 1;
    background-image: url(resources/images/decos-ctas/btn-deco-b.svg);
}

.deco-btn-12 {
    background-image: url(resources/images/decos-ctas/btn-deco-a.svg);
}

.deco-btn-13 {
    background-image: url(resources/images/decos-ctas/btn-deco-a.svg);
}

.deco-btn-14 {
    grid-column: 1 / 4;
    grid-row: 3;
    background-image: url(resources/images/decos-ctas/btn-deco-b.svg);
}

/* ----------------------------- */

.landing-full-merch {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    padding: 20px;
}

.landing-triptych-merch {
    position: relative;
    width: 1000px;
    max-width: 100%;
    height: 550px;
    margin: 0 auto;
    overflow: hidden;
}

.landing-merch-img {
    position: absolute;
    border-radius: 6px;
    border: solid 2px #F7EFFB;
    transition: all 0.7s ease-in-out;
}


.landing-merch-img-left {
    left: 0;
    width: 240px;
    z-index: 2;
    top: 180px;
}

.landing-merch-img-center {
    left: 50%;
    width: 400px;
    z-index: 3;
    top: 0;
    transform: translateX(-50%);
}

.landing-merch-img-right {
    left: 100%;
    transform: translateX(-100%);
    width: 240px;
    z-index: 1;
    top: 180px;
}

.landing-merch-cta {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}

@media screen and (max-width: 1040px) {
    .landing-triptych-merch {
        width: 360px;
        height: 400px;
    }

    .landing-merch-img-left {
        width: 120px;
        top: 150px;
    }

    .landing-merch-img-center {
        width: 200px;
        top: 50px;
    }

    .landing-merch-img-right {
        width: 120px;
        top: 150px;
    }

    .landing-merch-cta {
        bottom: 10px;
    }

    .landing-full-merch {
        min-height: 400px;
    }
}

.merch-section {
    padding-bottom: 40px;
}

/* ----------- Articles cards ----------- */

.landing-blog-section {
    padding-bottom: 40px;
}

.landing-article {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: solid 1px #F7EFFB;
    width: 1000px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    overflow: hidden;
    background-color: #0D0312;
}

.landing-article-img {
    width: 600px;
    height: 350px;
    border-right: solid 1px #F7EFFB;
}

.landing-article-content {
    padding: 20px;
    width: 400px;
    position: relative;
}

.landing-article-title {
    font-family: 'Nico-Moji';
    font-size: 24px;
    color: #F7EFFB;
    font-weight: 400;
}

.article-card-cache {
    width: 100%;
    height: 200px;
    background: linear-gradient(0deg,rgba(13, 3, 18, 1) 68%, rgba(13, 3, 18, 0) 100%);
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.landing-article-cta {
    font-weight: 500;
    text-decoration: none;
    color: #F7EFFB;
    border: solid 2px #F7EFFB;
    border-radius: 10px;
    padding: 10px 16px;
}

.landing-article-cta:hover {
    color: #D2A0E4;
    border-color: #D2A0E4;
}

.landing-article-cta:active {
    background-color: #D2A0E4;
    color: #0D0312;
    border-color: #D2A0E4;
}

@media screen and (max-width: 1040px) {
    .landing-article {
    flex-direction: column;
    width: 80%;
    }

    .landing-article-img {
        width: 100%;
        height: auto;
    }

    .landing-article-title {
        font-size: 18px;
    }

    .article-card-cache {
        height: 110px;
    }

    .trio-decorated-cta {
        bottom: 16px;
    }

    .landing-article-content {
        padding-top: 0;
        width: 100%;
    }
}

@media screen and (max-width: 474px) {
    .landing-article-cta {
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap;
        padding-top: 14px;
        padding-bottom: -0;
    }
}


/* -------------------------------------- */

/* ----------- Footer ----------- */

footer {
    background: linear-gradient(rgba(13, 3, 18, 0.6), rgba(13, 3, 18, 0.6)), url("resources/images/footer-background.png") no-repeat center center;
    background-size: cover;
    height: 250px;
    border-top: solid 1px #F7EFFB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
    overflow: hidden;
}

@media screen and (max-width: 860px) {
    footer {
        flex-direction: column;
        height: 560px;
        padding: 20px 0 60px 0;
        gap: 20px;
    }
}

.footer-full-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.footer-logo {
    height: 150px;
    width: auto;
}

.footer-title {
    font-family: 'Nico-Moji';
    font-size: 20px;
    color: #F7EFFB;
    white-space: nowrap;
}

.contact-cta {
    background: rgba(13, 3, 18, 0.5);
    white-space: nowrap;
}

.contact-bloc {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
    align-items: center;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.social-icon {
    height: 32px;
    width: 32px;
    background-size: contain;
}

.fbk-icon {
    background: url("resources/images/social-icons/facebook.svg") no-repeat center center;
}

.insta-icon {
    background: url("resources/images/social-icons/instagram.svg") no-repeat center center;
}

.ytb-icon {
    background: url("resources/images/social-icons/youtube.svg") no-repeat center center;
}

.x-icon {
    background: url("resources/images/social-icons/x.svg") no-repeat center center;
}

.tiktok-icon {
    background: url("resources/images/social-icons/tiktok.svg") no-repeat center center;
}

.discord-icon {
    background: url("resources/images/social-icons/discord.svg") no-repeat center center;
}

.footer-links {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 220px;
    /*height: fit-content;*/
}

@media screen and (max-width: 860px) {
    .footer-links {
        margin-top: 510px;
    }
}

.footer-parag, .footer-link {
    margin: 0;
    color: #A6B7C3;
}

.footer-parag {
    margin-left: 4px;
    margin-right: 4px;
}

.footer-link {
    text-decoration: none;
    white-space: nowrap;
}

/* ------------------------------ */