*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Inter';
    color: #F7EFFB;
    font-size: 16px;
}

body {
    background: linear-gradient(rgba(13, 3, 18, 0.6), rgba(13, 3, 18, 0.6)), url("resources/images/background.png") no-repeat center center fixed rgba(13, 3, 18, 0.6);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

@font-face {
    font-family: 'Nico-Moji';
    src:url('resources/fonts/nico-moji/nico-moji.ttf.woff') format('woff'),
        url('resources/fonts/nico-moji/nico-moji.ttf.svg#Nico-Moji') format('svg'),
        url('resources/fonts/nico-moji/nico-moji.ttf.eot'),
        url('resources/fonts/nico-moji/nico-moji.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/* ----------- Titles ----------- */

.landing-title,.h1-big-span  {
    font-family: 'Nico-Moji';
    font-size: 48px;
    color: #F7EFFB;
    margin: 0 0 0 40px;
    display: block;
    font-weight: 400;
}

.h1-smaller {
    font-family: 'Inter';
    font-size: 28px;
    display: block;
    margin-left: 40px;
    margin-bottom: 40px;
    margin-top: 20px;
}

@media screen and (max-width: 1160px) {
    .landing-title, .h1-big-span {
        font-size: 32px;
    }

    .h1-smaller {
        font-size: 18px;
    }
}

.landing-h2 {
    font-family: 'Nico-Moji';
    font-size: 24px;
    color: #F7EFFB;
    text-align: center;
    margin-top: 100px;
    font-weight: 400;
}

.landing-p {
    color: #F7EFFB;
    text-align: center;
}

.bold-orange-span {
    font-weight: 600;
    color: #F7A100;
}

/* ------------------------------ */

/* ----------- CTAs ----------- */

.main-cta {
    font-family: 'Nico-Moji';
    font-size: 24px;
    color: #F7EFFB;
    background-color: #74288F;
    border: none;
    border-radius: 10px;
    padding: 10px 16px;
    text-decoration: none;
    white-space: nowrap;
}

.main-cta:hover {
    box-shadow: 0 0 20px #F7A100;
}

.main-cta:active {
    background-color: #F7A100;
    color: #FF3700;
}

.secondary-cta {
    font-family: 'Nico-Moji';
    font-size: 24px;
    color: #F7EFFB;
    background-color: transparent;
    border: solid 2px #F7EFFB;
    border-radius: 10px;
    padding: 10px 16px;
    text-decoration: none;
}

.secondary-cta:hover {
    color: #D2A0E4;
    border-color: #D2A0E4;
}

.secondary-cta:active {
    background-color: #D2A0E4;
    color: #0D0312;
    border-color: #D2A0E4;
}

.landing-header-CTAs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-left: 40px;
}

@media screen and (max-width: 610px) {
    .landing-header-CTAs {
        flex-direction: column;
        margin: 0;
    }
}

.landing-header-cta, .decorated-cta {
    display: inline-grid !important;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    align-items: center;
    justify-items: center;
    grid-gap: 0;
}

.decorated-cta {
    box-sizing: content-box;
}

.trio-decorated-cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6px;
    z-index: 3;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.landing-article-cta:hover {
    color: #D2A0E4;
    border-color: #D2A0E4;
}

.landing-article-cta:active {
    background-color: #D2A0E4;
    color: #0D0312;
    border-color: #D2A0E4;
}

@media screen and (max-width: 474px) {
    .landing-article-cta {
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap;
        padding-top: 14px;
        padding-bottom: -0;
    }
}

.landing-merch-cta {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}

.contact-cta {
    background: rgba(13, 3, 18, 0.5);
    white-space: nowrap;
}

/* --- Decos CTAs --- */

.deco-btn-A, .thin-deco-cta {
    width: 30px;
    height: 48px;
    background: no-repeat center center;
}

.deco-btn-B, .large-deco-cta {
    width: 52px;
    height: 30px;
    background: no-repeat center center;
}

.deco-reversed {
    transform: rotate(180deg);
}

.deco-btn-1 {
    grid-column: 1 / 4;
    grid-row: 1;
    background-image: url(resources/images/decos-ctas/btn-deco-b.svg);
}

.deco-btn-2 {
    background-image: url(resources/images/decos-ctas/btn-deco-a.svg);
}

.deco-btn-3 {
    background-image: url(resources/images/decos-ctas/btn-deco-a.svg);
}

.deco-btn-4 {
    grid-column: 1 / 4;
    grid-row: 3;
    background-image: url(resources/images/decos-ctas/btn-deco-b.svg);
}

.deco-btn-5 {
    background-image: url(resources/images/decos-ctas/btn-deco-d.svg);
    grid-column: 1 / 4;
    grid-row: 1;
}

.deco-btn-6 {
    background-image: url(resources/images/decos-ctas/btn-deco-c.svg);
}

.deco-btn-7 {
    background-image: url(resources/images/decos-ctas/btn-deco-c.svg);
}

.deco-btn-8 {
    background-image: url(resources/images/decos-ctas/btn-deco-d.svg);
    grid-column: 1 / 4;
    grid-row: 3;
}

.deco-btn-9, .deco-btn-10 {
    background-image: url(resources/images/decos-ctas/btn-deco-e.svg);
}

.deco-btn-11 {
    grid-column: 1 / 4;
    grid-row: 1;
    background-image: url(resources/images/decos-ctas/btn-deco-b.svg);
}

.deco-btn-12 {
    background-image: url(resources/images/decos-ctas/btn-deco-a.svg);
}

.deco-btn-13 {
    background-image: url(resources/images/decos-ctas/btn-deco-a.svg);
}

.deco-btn-14 {
    grid-column: 1 / 4;
    grid-row: 3;
    background-image: url(resources/images/decos-ctas/btn-deco-b.svg);
}

/* ----------------------------- */

/* ----------- Landing Header ----------- */

.main-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-landing-section {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .top-landing-section {
        height: 85vh;
    }

    header {
        margin-bottom: 40px;
    }
}
.landing-header-content {
    position: absolute;
    left: 0;
    bottom: -16px;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    /* padding-left: 40px; */
    width: 100%;
    background: linear-gradient(0deg,rgba(37, 12, 49, 1) 63%, rgba(37, 12, 49, 0) 100%);
}

/* -------------------------------------- */

/* ----------- Landing Merch Section ----------- */

.landing-full-merch {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    padding: 20px;
}

.landing-triptych-merch {
    position: relative;
    width: 1000px;
    max-width: 100%;
    height: 550px;
    margin: 0 auto;
    overflow: hidden;
}

.landing-merch-img {
    position: absolute;
    border-radius: 6px;
    border: solid 2px #F7EFFB;
    transition: all 0.7s ease-in-out;
}


.landing-merch-img-left {
    left: 0;
    width: 240px;
    z-index: 2;
    top: 180px;
}

.landing-merch-img-center {
    left: 50%;
    width: 400px;
    z-index: 3;
    top: 0;
    transform: translateX(-50%);
}

.landing-merch-img-right {
    left: 100%;
    transform: translateX(-100%);
    width: 240px;
    z-index: 1;
    top: 180px;
}

@media screen and (max-width: 1040px) {
    .landing-triptych-merch {
        width: 360px;
        height: 400px;
    }

    .landing-merch-img-left {
        width: 120px;
        top: 150px;
    }

    .landing-merch-img-center {
        width: 200px;
        top: 50px;
    }

    .landing-merch-img-right {
        width: 120px;
        top: 150px;
    }

    .landing-merch-cta {
        bottom: 10px;
    }

    .landing-full-merch {
        min-height: 400px;
    }
}

.merch-section {
    padding-bottom: 40px;
}

/* --------------------------------------------- */

/* ----------- Landing Articles Cards ----------- */

.landing-blog-section {
    padding-bottom: 40px;
}

.landing-article {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: solid 1px #F7EFFB;
    width: 1000px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    overflow: hidden;
    background-color: #0D0312;
}

.landing-article-img {
    width: 600px;
    height: 350px;
    border-right: solid 1px #F7EFFB;
}

.landing-article-content {
    padding: 20px;
    width: 400px;
    position: relative;
}

.landing-article-title {
    font-family: 'Nico-Moji';
    font-size: 24px;
    color: #F7EFFB;
    font-weight: 400;
}

.article-card-cache {
    width: 100%;
    height: 200px;
    background: linear-gradient(0deg,rgba(13, 3, 18, 1) 68%, rgba(13, 3, 18, 0) 100%);
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.landing-article-cta {
    font-weight: 500;
    text-decoration: none;
    color: #F7EFFB;
    border: solid 2px #F7EFFB;
    border-radius: 10px;
    padding: 10px 16px;
}

@media screen and (max-width: 1040px) {
    .landing-article {
    flex-direction: column;
    width: 80%;
    }

    .landing-article-img {
        width: 100%;
        height: auto;
    }

    .landing-article-title {
        font-size: 18px;
    }

    .article-card-cache {
        height: 110px;
    }

    .trio-decorated-cta {
        bottom: 16px;
    }

    .landing-article-content {
        padding-top: 0;
        width: 100%;
    }
}

/* -------------------------------------- */

/* ----------- Footer ----------- */

footer {
    background: linear-gradient(rgba(13, 3, 18, 0.6), rgba(13, 3, 18, 0.6)), url("resources/images/footer-background.png") no-repeat center center;
    background-size: cover;
    height: 250px;
    border-top: solid 1px #F7EFFB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
    width: 100%;
}

@media screen and (max-width: 860px) {
    footer {
        flex-direction: column;
        height: 560px;
        padding: 20px 0 60px 0;
        gap: 20px;
    }
}

.fixed-footer {
    bottom: 0;
    position: fixed;
}

.footer-full-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.footer-logo {
    height: 150px;
    width: auto;
}

.footer-title {
    font-family: 'Nico-Moji';
    font-size: 20px;
    color: #F7EFFB;
    white-space: nowrap;
}

.contact-bloc {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
    align-items: center;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 0;
}

.social-icon {
    height: 32px;
    width: 32px;
    background-size: contain;
}

.fbk-icon {
    background: url("resources/images/social-icons/facebook.svg") no-repeat center center;
}

.insta-icon {
    background: url("resources/images/social-icons/instagram.svg") no-repeat center center;
}

.ytb-icon {
    background: url("resources/images/social-icons/youtube.svg") no-repeat center center;
}

.x-icon {
    background: url("resources/images/social-icons/x.svg") no-repeat center center;
}

.tiktok-icon {
    background: url("resources/images/social-icons/tiktok.svg") no-repeat center center;
}

.discord-icon {
    background: url("resources/images/social-icons/discord.svg") no-repeat center center;
}

.footer-links {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 220px;
    /*height: fit-content;*/
}

@media screen and (max-width: 860px) {
    .footer-links {
        margin-top: 510px;
    }
}

.footer-parag, .footer-link {
    margin: 0;
    color: #A6B7C3;
}

.footer-parag {
    margin-left: 4px;
    margin-right: 4px;
}

.footer-link {
    text-decoration: none;
    white-space: nowrap;
}

/* ------------------------------ */

/* ----------- Player ----------- */

.temporary-player-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.player {
    width: 300px;
    height: 54px;
    border: solid 2px #F7EFFB;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
    justify-content: center;
    position: relative;
}

.player-title-container {
    width: 162px;
    overflow: hidden;
}

.player-title {
    display: inline-block;
    width: 162px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.animated-player-title {
    animation: animatedPlayerTitle 20s linear infinite;
    overflow: visible;
    text-overflow: clip;
    display: block;
}

@keyframes animatedPlayerTitle {
    0% {
        transform: translateX(0);
        visibility: visible;
    }

    49% {
        transform: translateX(-150%);
        visibility: visible;
    }

    50% {
        transform: translateX(-150%);
        visibility: hidden;
    }

    51% {
        transform: translateX(100%);
        visibility: hidden;
    }

    51.1% {
        transform: translateX(100%);
        visibility: visible;
    }

    100% {
        transform: translateX(0%);
    }
}

.play-btn, .pause-btn {
    width: 20px;
    height: 20px;
    background: no-repeat center center;
    background-size: contain;
    cursor: pointer;
}

.play-btn {
    background-image: url(resources/images/icons/play-btn.svg);
}

.pause-btn {
    background-image: url(resources/images/icons/pause-btn.svg);
}

/*--- Animation Sticks ---*/

.player-animation {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 20px;
    gap: 2px;
}

.stickA, .stickB, .stickC, .stickD {
    width: 3px;
    background-color: #F7EFFB;
    animation-duration: 0.385s;
    animation-iteration-count: infinite;
}

.stickA {
    height: 15px;
    animation-name: stickA;
}

@keyframes stickA {
    0% {
        height: 15px;
    }

    10% {
        height: 20px;
    }

    70% {
        height: 2px;
    }

    100% {
        height: 15px;
    }
}

.stickB {
    height: 20px;
    animation-name: stickB;
}

@keyframes stickB {
    0% {
        height: 20px;
    }

    50% {
        height: 2px;
    }

    100% {
        height: 20px;
    }
}

.stickC {
    height: 10px;
    animation-name: stickC;
}

@keyframes stickC {
    0% {
        height: 10px;
    }

    25% {
        height: 20px;
    }

    75% {
        height: 2px;
    }

    100% {
        height: 10px;
    }
}

.stickD {
    height: 5px;
    animation-name: stickD;
}

@keyframes stickD {
    0% {
        height: 5px;
    }

    40% {
        height: 20px;
    }

    60% {
        height: 2px;
    }

    100% {
        height: 5px;
    }
}

.stick-paused {
    animation-play-state: paused;
    height: 2px !important;
}

/*--- Volume ---*/

.volume-btn-on, .volume-btn-off {
    width: 20px;
    height: 20px;
    background: no-repeat center center;
}

.volume-btn-on {
    background-image: url(resources/images/icons/volume-on.svg);
}

.volume-btn-off {
    background-image: url(resources/images/icons/volume-off.svg);
}

.volume-setting-container {
    position: absolute;
    top: 0;
    right: 10px;
    width: 32px;
    height: 180px;
    display: flex;
    flex-direction: column;
    transform: translateY(calc(-100% - 10px));
    border: solid 2px #F7EFFB;
    border-radius: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background: rgba(13, 3, 18, 0.2);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.volume-setting-container-hidden {
    display: none;
}

.input-volume-container {
    flex-grow: 1;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.volume-setting {
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100px;
    height: 8px;
    -webkit-appearance: none;
    appearance: none;
    color: #D2A0E4;
    background: transparent;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 4px;
    touch-action: none;
    -ms-touch-action: none;
}

.volume-on-icon, .volume-off-icon {
    width: 20px;
    height: 20px;
    background: no-repeat center center;
    background-size: contain;
    flex-shrink: 0;
}

.volume-on-icon {
    background-image: url(resources/images/icons/volume-on.svg);
}

.volume-off-icon {
    background-image: url(resources/images/icons/volume-off.svg);
}

.volume-setting::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: rgba(247, 239, 251, 0.6);
    border-radius: 4px;
}

.volume-setting::-moz-range-track {
    width: 100%;
    height: 8px;
    background: rgba(247, 239, 251, 0.6);
    border-radius: 4px;
}

.volume-setting::-ms-track {
    width: 100%;
    height: 8px;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.volume-setting::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #F7EFFB;
    border-radius: 50%;
    margin-top: -4px;
    box-shadow: none;
}

.volume-setting::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #F7EFFB;
    border-radius: 50%;
}

.volume-setting::-moz-range-progress {
    background-color: #F7EFFB;
    height: 8px;
    border-radius: 4px;
}

.volume-setting::-ms-thumb {
    width: 16px;
    height: 16px;
    background: #F7EFFB;
    border-radius: 50%;
    margin-top: 0;
}

.volume-setting::-ms-fill-lower {
    background-color: #F7EFFB;
    border-radius: 4px;
}

.volume-setting::-ms-fill-upper {
    background-color: #F7EFFB;
    border-radius: 4px;
}

.volume-setting::-ms-tooltip {
    display: none;
}

/* ------------------------------ */

/* ----------- Site Header ----------- */

.site-top-header {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    background: linear-gradient(rgba(13, 3, 18, 0.6), rgba(13, 3, 18, 0.6)), url(resources/images/header-background.png);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}

.header-full-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.header-logo {
    height: 150px;
    width: auto;
}

.header-title {
    font-family: 'Nico-Moji';
    font-size: 28px;
    color: #F7EFFB;
    white-space: nowrap;
}

.header-side-deco {
    height: 180px;
    width: auto;
}

.side-deco-reversed {
    transform: scaleX(-1);
}

@media screen and (max-width: 640px) {
    .site-top-header {
        height: 150px;
        gap: 0;
        justify-content: space-between;
        padding: 0 20px;
    }

    .header-logo {
        height: 100px;
    }

    .header-side-deco {
        height: 110px;
    }

    .header-title {
        font-size: 20px;
    }
}

/* ----------------------------------- */

/* ----------- Site Nav ----------- */

.menu-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #0D0312;
    height: 46px;
    width: 100%;
    position: relative;
}

.line-menu-header {
    width: 100%;
    height: 3px;
    background: linear-gradient(180deg,rgba(76, 86, 93, 1) 0%, rgba(247, 239, 251, 1) 100%);
}

.menu-header-li, .menu-header-list, .account-sub-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-header-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 4px 0;
    position: relative;
    align-items: center;
}

.stick-menu-header {
    width: 3px;
    height: 32px;
    background: linear-gradient(270deg,rgba(76, 86, 93, 1) 0%, rgba(247, 239, 251, 1) 100%);
    border-radius: 1.5px;
}

.stick-sub-menu-header {
    width: 60px;
    height: 3px;
    background: linear-gradient(180deg,rgba(76, 86, 93, 1) 0%, rgba(247, 239, 251, 1) 100%);
    border-radius: 1.5px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.account-sub-menu {
    background: #0D0312;
    position: absolute;
    bottom: 0;
    transform: translateY(calc(100% + 3px));
    right: 6px;
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 16px 10px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu-header-link {
    font-family: 'Nico-Moji';
    font-size: 16px;
    line-height: 16px;
    color: #F7EFFB;
    text-decoration: none;
    white-space: nowrap;
    padding: 4px 10px;
    transition: all 0.2s ease-in-out;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid transparent;
    display: inline-block;
}

.account-sub-menu-link {
    font-family: 'Nico-Moji';
    font-size: 16px;
    line-height: 16px;
    color: #F7EFFB;
    text-decoration: none;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
}

.menu-header-link:hover, .sub-menu-li:hover > .account-sub-menu-link, .header-nav-active {
    color: #F7A100;
}

.menu-header-link:active, .sub-menu-li:active, .header-nav-active {
    border-color: #F7A100;

}

.header-logo-link {
    text-decoration: none;
}

.menu-cart-btn, .menu-account-btn, .account-icon, .login-icon, .logout-icon {
    height: 20px;
    width: 20px;
    background: no-repeat center center;
    background-size: contain;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.menu-cart-btn {
    background-image: url(resources/images/icons/cart-icon-white.svg);
}

.menu-cart-btn:hover {
    background-image: url(resources/images/icons/cart-icon-orange.svg);
}

.menu-account-btn, .account-icon {
    background-image: url(resources/images/icons/account-icon-white.svg);
}

.menu-account-btn:hover {
    background-image: url(resources/images/icons/account-icon-orange.svg);
}

.logout-icon {
    background-image: url(resources/images/icons/logout-icon-white.svg);
}

.sub-menu-li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    padding: 4px 10px;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.sub-menu-li:hover > .account-icon {
    background-image: url(resources/images/icons/account-icon-orange.svg);
}

.sub-menu-li:hover > .logout-icon {
    background-image: url(resources/images/icons/logout-icon-orange.svg);
}

@media screen and (max-width: 500px) {
    .menu-header-list {
        gap: 6px;
    }

    .menu-header-link {
        padding: 4px 4px;
    }

    .menu-account-btn, .menu-cart-btn {
        margin-left: 6px;
        margin-right: 4px;
    }
}

@media screen and (min-width: 768px) {
    .account-sub-menu {
        transform: translateX(calc(100% - 34px)) translateY(calc(100% + 3px));
        /*right: 0;*/
    }
}

.festival-sub-menu, .medias-sub-menu {
    background: #0D0312;
    position: absolute;
    bottom: 0;
    transform: translateY(calc(100% + 3px));
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 16px 10px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0;
}

.medias-sub-menu {
    transform: translateX(calc(100% - 40px)) translateY(calc(100% + 3px));
}

@media screen and (max-width: 500px) {
    .medias-sub-menu {
        transform: translateX(calc(100% - 60px)) translateY(calc(100% + 3px));
    }
}

.menu-header-container {
    width: fit-content;
    height: 100%;
    position: relative;
}

.sub-menu-show {
    display: flex;
}

/* --------------------------------- */

.placehorder {
    height: 800px;
}
